<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush  mt-4">
      <a
        href="{% url 'home' %}"
        class="list-group-item list-group-item-action py-2 ripple"
        class='active'"
      >
        <i class="bi bi-house-fill me-3"></i>
        <span>Home</span>
      </a>

      <a
        href="/staff/"
        class="list-group-item list-group-item-action py-2 ripple"
      
      >
        <i class="bi bi-people-fill me-3"></i>
        <span>Staff List</span>
      </a>
      
    
      <!-- Logout -->
      <div class="mx-3">
      <button
        class="btn list-group-item list-group-item-action bg-success text-light logout "
        data-toggle="modal"
        data-target="#alertLogout"
      >
        <i class="bi bi-box-arrow-left me-3"></i>
        Logout
      </button>
      </div>
    </div>
  </div>
</nav>
